@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: system-ui;
    background: #e2fcff;
    /* color: white; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
h2{
    font-size:6vw;
}
span.c:nth-child(1) {
    color: #ff5722;
}
span.c:nth-child(2) {
    color: #42a5f5;
}
span.c:nth-child(3) {
    color: #ffee58;
}
span.b{
    color: #026e00;
}
.btn{
    border: 2px solid #00004a;
    padding: 8px 16px;
    border-radius: 8px;
    background: #00004a;
    text-decoration: none;
    color: #ffffff;
    box-shadow: #00004a61 0px 3px 8px;
    display: flex;
    align-items: center;
    transition: .3s;
    justify-content: center;
}
.btn:hover{
    color: #ffffff !important;
    transform: translateY(-5px);
    box-shadow: #00004a76 0px 8px 16px;
}
.btn svg{
    fill: #ffffff;
    margin-right: 8px;
}
#year {
    font-size: 3rem;
    font-weight: 100;
    color: #00004a;
}
.delete{
    background-color: red;
    border-color: red;
    display: inline-block;
    text-align: center;
    padding: 3px 6px;
    text-transform: uppercase;
}
.edit{
    background-color: #0026ff;
    border-color: #0026ff;
    display: inline-block;
    text-align: center;
    padding: 3px 6px;
    text-transform: uppercase;
}
.box{
    text-align: left;
    max-width: 500px;
    width: 70vh;
}
table{
    border: 1px solid;
    padding: 16px;
    border-radius: 8px;
    background: #cbf2f7;
}
table th {
    /* border-bottom: 1px solid #aee6ed; */
    padding: 8px 16px;
}
table,td{
    border: 1px solid #aee6ed;
    padding: 8px 16px;
}
td form {
    display: inline-block;
}